@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    min-height: 100vh;
}
.redNote{
    background-color: #EB5353;
}
.greenNote{
    background-color:#14C38E;
}
.blueNote{
    background-color: #3AB4F2;
}
.yellowNote{
    background-color:#F4E06D;
}
.pinkNote{
    background-color:#FF869E;
}
/*
font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Edu QLD Beginner', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Signika', sans-serif;
font-family: 'Titillium Web', sans-serif;
*/
.eduNsw{
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.cormorant{
    font-family: 'Cormorant Garamond', serif;
}
.mochiy{
    font-family: 'Mochiy Pop One', sans-serif;
}
.signika{
    font-family: 'Signika', sans-serif;
}
.titillium{
    font-family: 'Titillium Web', sans-serif;
}

#switch{
    height: 0;
    width: 0;
    visibility: hidden;
}

#switchLabel {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: #d5d5d5;
    display: block;
    border-radius: 100px;
    position: relative;
}

#switchLabel:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

#switch:checked + #switchLabel {
    background: #FFE162;
}

#switch:checked + #switchLabel:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}





div.btn-container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.btn-container i{
    display: inline-block;
    position: relative;
    top: -9px;
}

label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 140px;
    height: 30px;
    background: #E0E0E0;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 5px;
    right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 70px;
    height: 25px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 2px 0px;
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    background: #151515;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 68px;
    background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}

/*mode preview*/
.dark-preview{
    background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-sun-o{
    color: #777;
}

.dark-preview div.btn-container i.fa-moon-o{
    color: #fff;
    text-shadow: 0px 0px 11px #fff;
}

.white-preview{
    background: #fff;
}

.white-preview div.btn-container i.fa-sun-o{
    color: #ffa500;
    text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o{
    color: #777;
}
p.by a{
    text-decoration: none;
    color: #000;
}

.dark-preview p.by a{
    color: #777;
}

.white-preview p.by a{
    color: #000;
}


/* ===== Scrollbar CSS ===== */
body {
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

body::-webkit-scrollbar {
    width: 4px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: #9b9b9b;
    border-radius: 30px;
}

.noteScroll {
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

.noteScroll::-webkit-scrollbar {
    width: 4px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

.noteScroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

.noteScroll::-webkit-scrollbar-thumb {
    background-color: #404040;
    border-radius: 30px;
}